<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Play Game</h1>
    Game: {{ playGame.game.name }}
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <section class="game-meta">
        Current Player's Turn: {{ playGame.game.currentTurn.player }}<br>
        Turn Number: {{ playGame.game.currentTurn.number + 1 }}<br>
        Phase of Turn: {{ playGame.phases[playGame.game.currentTurn.phase] }}<br>

        Players:
        <div ng-repeat="player in playGame.game.players">
          <strong>{{ player.name }}</strong>
          <span ng-show="playGame.playerIndex === null"> - <a href="" ng-click="playGame.join(player._id)">Join<br></a></span>
        </div>

        You are player: {{ playGame.game.players[playGame.playerIndex].name }}<br>
        Gold: {{ playGame.game.players[playGame.playerIndex].gold }}
      </section>

      <section class="player-fields" ng-show="playGame.playerIndex !== null">
        Fields:<br>
        <div ng-repeat="field in playGame.game.players[playGame.playerIndex].fields track by $index">
          Field {{ $index + 1 }}:<br>
          <span ng-repeat="card in field.cards">
            <img ng-src="{{ playGame.imagePath(card) }}"><br><br>
          </span>
        </div>
      </section>

      <section class="player-hand" ng-show="playGame.playerIndex !== null">
        Hand:<br>
        <span ng-repeat="card in playGame.game.players[playGame.playerIndex].hand" class="card">
          <img ng-src="{{ playGame.imagePath(card) }}">
          <!--<a ng-repeat="field in playGame.game.players[0].fields track by $index" ng-click="playGame.plant(card, $index)">
            Plant in Field {{ $index + 1 }}<br>
          </a>-->
        </span>
      </section>

      <button ng-click="playGame.buyBeanField()" ng-show="playGame.playerIndex !== null" ng-disabled="playGame.game.players[playGame.playerIndex].gold < 3">Buy 3rd Bean Field</button>
    </div>
  </div>
</div>
